body {
  background-color: #F9C784;
  font-family: 'Righteous', cursive;
}

#top-row{
  margin-top: 30px;
  border: 10px solid #ffffff;
  margin-bottom: 10px;
}

#welcome{
  color: white;
  padding-top: 20px;
}

#welcome-div {
  text-align: center;
  height: 100px;
  background-color: #A1A6B4;
}

.doge-img{
  margin-top: 10px;
  height: 300px;
  width: inherit;
}

#image-row{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #94C5CC;
  height: 440px;
  border: 10px solid #ffffff;
}

.doge-button{
  margin-top: 30px;
  padding: 10px;
  width:inherit;
}

#quote-row{
  background-color: #414770;
  height: 200px;
  padding: 20px;
  border: 10px solid #ffffff;
}

#quote{
  color: white;
}
